.favicon {
	color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: sans-serif;
	white-space: nowrap;
}

.bottom {
	font-size: 84%;
}

@media (prefers-color-scheme: dark) {
	.favicon {
		color: white;
	}
}
